.dd{
    /* border: 2px solid red; */
    background-image: url('./figma/image.png');
    background-size: cover;
    background-position: center;
    background-color: rgb(31, 30, 30);
    background-blend-mode: overlay;
}

.dane{
    width: 62%;
}